<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <type name="Magento\Customer\Controller\Account\LoginPost">
    <plugin name="vexpro_autenticacao" type="\Vexpro\Autenticacao\Plugin\UserPlugin" sortOrder="1" />
  </type>

  <type name="Magento\Backend\Model\Auth">
    <plugin name="check_customer_group" type="\Vexpro\Autenticacao\Plugin\AdminLogin" />
  </type>

  <type name="Magento\Customer\Model\AccountManagement">
    <plugin name="PontosZero"
            type="Vexpro\Autenticacao\Plugin\PontosZero"/>
  </type>

  <type name="Magento\Customer\Controller\Account\CreatePost">
    <plugin name="CreateUserInGermini"
            type="Vexpro\Autenticacao\Plugin\CreateUserInGermini"/>
  </type>

  <preference for="Magento\Sales\Block\Order\Info" type="Vexpro\Autenticacao\Block\Order\Info" />

  <preference for="Magento\Customer\Controller\Account\ResetPasswordPost" type="Vexpro\Autenticacao\Controller\Account\ResetPasswordPost" />

    <!-- <preference for="Vexpro\Autenticacao\Api\ConsumerDataInterface"
           type="Vexpro\Autenticacao\Model\Api\ConsumerData"/> -->

</config>
